# inventory dir
inventories/

# ansible runtime state
.ansible/
*.retry

# collections installed with "ansible-galaxy collection install -p collections"
collections/ansible_collections/

# vault password files (see vault_identity_list in ansible.cfg)
.vault/

# python runtime state
__pycache__/
*.py[cod]

# secret files
/files/

# grafana dashboards
roles/grafana/files/dashboards/*.json

# OS and editor files
.DS_Store
.vscode/
.idea/
